@model JustPhotoGallery.Domain.Entities.Picture

@{
    ViewBag.Title = "Upload Picture";
}


<div class="col-md-11">
    @using (Html.BeginForm("Upload", "Photo", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="form-group">
            @Html.LabelFor(a => a.Title)
            @Html.TextBoxFor(a => a.Title, new { @class = "form-control", placeholder = "Enter title here"})
        </div>
        
        <div class="form-group">
            @Html.LabelFor(a => a.Description)
            @Html.TextAreaFor(a => a.Description, 3, 20, new { @class = "form-control", placeholder = "Enter description to photo here" })
        </div>
        
        <div class="form-group">
            <label for="tags">Tags: </label>
            @Html.TextBox("tagsString", null, new { @class = "form-control", placeholder = "Type tags throught commas (,)"})
        </div>
        <div class="form-group">
            <label for="file">Upload Image:</label>
            <input type="file" class="btn btn-default" name="file" id="file" />
        </div>
        <!--
            <div class="fileinput fileinput-new" data-provides="fileinput" name="file" id="file">
                <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                    <img data-src="holder.js/100%x100%" alt="...">
                </div>
                <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"></div>
                <div>
                    <span class="btn btn-default btn-file"><span class="fileinput-new">Select image</span><span class="fileinput-exists">Change</span><input type="file" name="..."></span>
                    <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                </div>
            </div>
            -->
        <div class="form-group">
            <input type="submit" class="btn btn-default" value="Submit" />
        </div>
    }
</div>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#tagsString").autocomplete({
                source: function(request, response) {
                    $.ajax({
                        url: "@Url.Action("SearchAutoCompleter", "Search")",
                        type: "POST",
                        dataType: "json",
                        data: { term: request.term },
                        success: function(data) {
                            response($.map(data, function(item) {
                                return { label: item, value: item };
                            }));
                        }
                    });
                },
                minLength: 2
            });
        });
    </script>
}
